*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(229, 255, 189);
    padding-top: 100px;
}
#board{
    width:600px;
    height: 600px;
    margin: auto;
    background: linear-gradient(rgb(98, 117, 77),rgb(127, 248, 66));
    border: solid brown 3px;
    display:grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns   : repeat(18,1fr);
}

.food{
    background-color: yellow;
}
.snake{
    background-color: purple;
}
.head{
    background-color: red;
}